<template>
  <f7-page>
    <f7-navbar title="Formulario" back-link="Back"></f7-navbar>
    <f7-block-title>Formulario</f7-block-title>
    <f7-list form>
      <f7-list-item>
        <f7-label>E-mail</f7-label>
        <f7-input type="email" placeholder="E-mail"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Nombre</f7-label>
        <f7-input type="text" placeholder="Nombre"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Apellido Paterno</f7-label>
        <f7-input type="text" placeholder="Apellido Paterno"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Apellido Materno</f7-label>
        <f7-input type="text" placeholder="Apellido Materno"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Genero</f7-label>
        <f7-input type="select">
          <option selected>Masculino</option>
          <option>Femenino</option>
        </f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Birth date</f7-label>
        <f7-input type="date" placeholder="Birth date" value="2014-04-30"></f7-input>
      </f7-list-item>
    </f7-list>

    <f7-block strong>
      <f7-row tag="p">
        <f7-button class="col" round fill color="green">Registrarse</f7-button>
      </f7-row>
    </f7-block>
  </f7-page>
</template>

<script>
export default {}
</script>
