<template>

  <f7-page>
    <f7-navbar>
      <f7-nav-left>
        <f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>Servicio de Impuestos Nacionales</f7-nav-title>
    </f7-navbar>

    <f7-block-title>Navegacion</f7-block-title>
    <f7-list>
      <f7-list-item link="/list/" title="Lista"></f7-list-item>
      <f7-list-item link="/form/" title="Formulario de inscripcion"></f7-list-item>
    </f7-list>
  </f7-page>
</template>

<script>
export default {}
</script>
