<template>
    <f7-page>
    <f7-navbar title="Mas acerca del item" back-link="Back"></f7-navbar>
    <f7-block-title>Mas acerca del item</f7-block-title>
    <f7-block strong>
      <p>Usted puede ir <f7-link back>atras</f7-link>.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel hendrerit ipsum, ac fringilla enim. Aenean volutpat lobortis est sit amet suscipit. Mauris gravida ullamcorper erat, ut tempor ex ultrices vel. Aenean ac magna non mauris iaculis finibus quis et eros. Donec vel arcu sed lacus tincidunt facilisis ut et orci. Morbi nec nisl pulvinar, commodo nisl a, suscipit lorem. Morbi aliquet non nisi vitae iaculis.</p>
      <p>Aenean ac ligula id leo fringilla congue in sed metus. Curabitur bibendum sapien dui, sit amet tincidunt sapien dapibus nec. Vivamus ultricies euismod urna id semper. Vivamus molestie tellus ac lacus consectetur, ac feugiat mauris placerat. Duis sagittis mi pretium orci pretium semper. Nulla facilisi. Quisque quis sapien a tortor consequat maximus id iaculis est. Maecenas sed ligula et nibh volutpat imperdiet id et massa. Mauris nulla tellus, vulputate nec libero posuere, viverra tincidunt lorem. Praesent sed odio sit amet libero viverra auctor ut sit amet lectus. In porttitor sapien id lectus lacinia auctor. Morbi aliquam ligula mi, non consectetur eros fermentum et. Nam eu lectus imperdiet, dapibus justo quis, venenatis est. Nullam id dolor dictum, eleifend ante vel, suscipit sapien. Proin risus arcu, ultricies id dictum sit amet, interdum a velit. Donec quis vulputate orci.</p>
    </f7-block>
  </f7-page>
</template>
