<template>
 <f7-page>
    <f7-navbar title="Servicio de Impuestos Nacionales" back-link="Back"></f7-navbar>
    <f7-block-title>Lista</f7-block-title>
   
      <f7-list media-list>
        <f7-list-item
          link="/item/"
          title="Titulo del item"
          subtitle="subtitulo del item"
          text="algun texto"
          after="Mas"
        ></f7-list-item>

        <f7-list-item
          link="/item/"
          title="Titulo del item"
          subtitle="subtitulo del item"
          text="algun texto"
          after="Mas"
        ></f7-list-item>

        <f7-list-item
          link="/item/"
          title="Titulo del item"
          subtitle="subtitulo del item"
          text="algun texto"
          after="Mas"
        ></f7-list-item>

        <f7-list-item
          link="/item/"
          title="Titulo del item"
          subtitle="subtitulo del item"
          text="algun texto"
          after="Mas"
        ></f7-list-item>

        <f7-list-item
          link="/item/"
          title="Titulo del item"
          subtitle="subtitulo del item"
          text="algun texto"
          after="Mas"
        ></f7-list-item>

        <f7-list-item
          link="/item/"
          title="Titulo del item"
          subtitle="subtitulo del item"
          text="algun textot"
          after="Mas"
        ></f7-list-item>
      </f7-list>
  </f7-page>
</template>

<script>
export default {
}
</script>
