<template>
    <f7-page>
        <!-- Left Panel -->
        <f7-panel left reveal theme-dark>
        <f7-view url="/panel-left/"></f7-view>
        </f7-panel>

        <!-- Main View -->
        <f7-view id="main-view" url="/" main></f7-view>
    </f7-page>
</template>

<script>
export default {
    
}
</script>

