<template>
  <f7-page>
    <f7-navbar title="SIN">
      <small>Servicio de Impuestos Nacionales</small>
    </f7-navbar>
    <!-- <f7-block strong>
      <p>Left panel content goes here</p>
    </f7-block> -->
    <f7-block-title>Operaciones</f7-block-title>
    <f7-list>
      <f7-list-item link="/list/" title="lista" view="#main-view" panel-close></f7-list-item>
      <f7-list-item link="/form/" title="Formulario" view="#main-view" panel-close></f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
  export default {}
</script>

