<template>
  <!-- App -->
  <div id="app">

     <!-- Left Panel -->
    <f7-panel left reveal theme-dark>
      <f7-view url="/panel-left/"></f7-view>
    </f7-panel>
    
    <!-- Login -->
    <f7-view url="/login/"></f7-view>

  </div>
</template>

<script>
export default {}
</script>
